.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  background: rgb(238,174,202);
  background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);

}

.header {
  padding: 0px 20px;
  color: white;
  width: 100%;
}

.image-wrapper {
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid white;
  background-color: red;
  margin-top: 10px;
  width: 320px;
  height: 320px;
  overflow: hidden;
}

.image {
  width: 100%;
}

